@charset "UTF-8";

/* followcloselylogo font formerly untitled-font-1 */
@font-face {
  font-family: "followcloselylogo";
  src:url("../fonts/followcloselylogo.eot");
  src:url("../fonts/followcloselylogo.woff") format("woff"),
  url("../fonts/followcloselylogo.ttf") format("truetype"),
  url("../fonts/followcloselylogo.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}