<div class="clearfix"></div>

<div class="faq-wrapper">
<div class="placard">
<h1 class="pricing-header">Frequently Asked Questions</h1>
</div>
<section class="faq" id="billing-faq">



<article>
<h3>What does FollowClosely do?</h3>

<p>We have dedicated our careers to developing the marketing content and software automation we always wished for as salespeople ourselves. Learn more about <a href="https://followclosely.com/about">the history of FollowClosely</a> or see a <a href="https://followclosely.com/#product">full list of our services</a>.</p>
</article>

<article>
<h3>Onboarding Call... what does that one do, again?</h3>
<p>That's the 45-minute phone conversation you scheduled with your Project Lead to make sure we start things off right. <a href="https://followclosely.com/onboarding">Read more about your Onboarding Call</a>.</p>
</article>

  <article style="float:left">

<h3>Can I use my own domain name?</h3>
    <p>You sure can. In fact you can use a couple of them. Everything that FollowClosely does is built for you end-to-end, and we do all of it in-house. That means you can be as involved as you like, or as hands-off as you need.</p>
  
  </article>
  <article>
    <h3>What are &ldquo;Campaigns&rdquo; and how do they work?</h3>
    <p>Good question. A campaign consists of any direct activity that FollowClosely takes on your behalf, most often via email or on social media. This looks different for everybody, so if you&rsquo;d like to see what campaigns you could be sending out, <a href="https://followclosely.com/demo">take a look at the demo</a>!</p>
  </article>
  <article>
    <h3>Can you build me a custom website?</h3>
    <p>Typically we reserve our development services for customers who have purchased one of the packages above. On occasion we have made exceptions depending on the project's scale, so please ask us if you have questions about a more extensive project.</p>
  </article>
  <article>
    <h3>How does the contract work?</h3>
    <p>Strictly speaking, we never lock in customers by requiring that they sign a contract and commit to a term. However we do ask clients to commit 6 months to us, so that we can commit 6 months to you. Without that show of good faith, we are less inclined to invest the initial time it would take to fully onboard and streamline your account.</p>
  </article>
  <article>
    <h3>What payment methods do you accept?</h3>
    <p>We accept all Visa, American Express and Mastercard credit and debit cards. Currently we do not accept Paypal, traditional invoicing, or personal checks.</p>
  </article>
  
  <article>
    
<h3>Do you offer a free trial so I can see if I like it first?</h3>
<p>Nope.</p>
  </article>
  <article>
    <h3>I have more questions!</h3>
    <p>Our support team is on hand and ready to help, and we usually reply pretty quick. <a href="mailto:hi@followclosely.com">Click here to email us</a> or Tweet us at <a href="http://TweetClosely.com">TweetClosely.com</a>.


  </article>
</section>
</div>