

      <label><strong><em>I am interested in:</em></strong></label><br>
        <input id="fieldhimij-0" name="cm-fo-himij" value="592960" type="checkbox"> <label for="fieldhimij-0">Social Media</label><br>
        <input id="fieldhimij-1" name="cm-fo-himij" value="592961" type="checkbox" class=""> <label for="fieldhimij-1">Email Marketing</label><br>
        <input id="fieldhimij-2" name="cm-fo-himij" value="592962" type="checkbox"> <label for="fieldhimij-2">Content Development</label><br>
        <input id="fieldhimij-3" name="cm-fo-himij" value="592963" type="checkbox"> <label for="fieldhimij-3">Website Design</label><br>
        <input id="fieldhimij-4" name="cm-fo-himij" value="592964" type="checkbox"> <label for="fieldhimij-4">Pipeline Automation</label>

      
<button class="home-signup-button button-add" formnovalidate="">Get Started</button>



    <p>
        <label for="fieldName">Name</label><br />
        <input id="fieldName" name="cm-name" type="text" />
    </p>
    <p>
        <label for="fieldEmail">Email</label><br />
        <input id="fieldEmail" name="cm-htbtt-htbtt" type="email" required />
    </p>
    <p>
        <label for="fieldhimir">Phone</label><br />
        <input id="fieldhimir" name="cm-f-himir" type="text" />
    </p>
    <p><label>Which of these are most important to you?</label><br />
        <input id="fieldhimij-0" name="cm-fo-himij" value="592960" type="checkbox" /> <label for="fieldhimij-0">Social Media</label><br />
        <input id="fieldhimij-1" name="cm-fo-himij" value="592961" type="checkbox" /> <label for="fieldhimij-1">Email Marketing</label><br />
        <input id="fieldhimij-2" name="cm-fo-himij" value="592962" type="checkbox" /> <label for="fieldhimij-2">Content Development</label><br />
        <input id="fieldhimij-3" name="cm-fo-himij" value="592963" type="checkbox" /> <label for="fieldhimij-3">Website Design</label><br />
        <input id="fieldhimij-4" name="cm-fo-himij" value="592964" type="checkbox" /> <label for="fieldhimij-4">Pipeline Automation</label>
    </p>
    <p>
    </fieldset>
        <button type="submit">Subscribe</button>
    </p>
</form>