<header id="global-header" class="global-header navbar sticky {{body_class}}">
  <nav role="navigation navigation-home">
		<div class="wrapper">
			<a class="ghost-logo" href="/">
				<span>FollowClosely</span>
			</a>
			<button type="button" class="mobile-menu" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="hidden">Menu</span>
			</button>
			<ul id="main-menu" class="navbar-collapse collapse">
				<li class="home-button-container"><a href="/">Home</a></li>
				<li><a class="smoothScroll" href="/#product">Product</a></li>
				<li><a href="/pricing">Pricing</a></li>
				<li><a href="/blog">Blog</a></li>
				<li class="login-button-container"><a class="login button" data-toggle="modal" data-target="#modal-demo">See Demo</a>
				</li>
			</ul>
		</div>
	</nav>
</header>
