
<footer class="global-footer {{post_class}}">    
<nav class="footer-nav-grid" role="navigation">        

<ul class="footer-nav-column footer-nav-ghost">            
  <li class="footer-nav-heading">Follow</li>
  <li class="footer-nav-link">
  <a class=" current-parent" href="http://tweetclosely.com">Twitter</a></li>            
  <li class="footer-nav-link">
  <a class="" href="https://facebook.com/FollowClosely">Facebook</a></li>
  <li class="footer-nav-link"><a href="https://linkedin.com/company/closely">LinkedIn</a></li>            
  <li class="footer-nav-link"><a href="/">Home</a></li>
</ul>    
<ul class="footer-nav-column footer-nav-company">            
  <li class="footer-nav-heading">Explore</li>            
  <li class="footer-nav-link"><a class="" href="/demo">Demo</a></li>            
  <li class="footer-nav-link"><a class="" href="/#product">Product</a></li>            
  <li class="footer-nav-link"><a href="/pricing">Pricing</a></li>            
  <li class="footer-nav-link"><a class="" href="/blog">Blog</a></li>            
  <li class="footer-nav-link"><a class="" href="/sign-up">Sign up</a></li>
</ul>       

<ul class="footer-nav-column footer-nav-compare">
  <li class="footer-nav-heading">Dig</li>            
  <li class="footer-nav-link"><a class="" href="/about">About Us</a></li>            
  <li class="footer-nav-link"><a class="" href="/terms">Terms &amp; Conditions</a></li>            
  <li class="footer-nav-link"><a class="" href="/privacy">Privacy Policy</a></li>
</ul>       

<ul class="footer-nav-column footer-nav-developers">            
  <li class="footer-nav-heading">Resources</li>            
  <li class="footer-nav-link"><a class="" href="/blog"> Our Blog</a></li>            
  <li class="footer-nav-link"><a href="http://tweetclosely.com">SalesOps</a></li>            
  <li class="footer-nav-link"><a class="" href="http://npmjs.com">Node Modules</a></li>            
  <li class="footer-nav-link"><a href="http://ifttt.com">If This Then That</a></li>            
  <li class="footer-nav-link"><a href="https://sendgrid.com/docs/API_Reference/Web_API/index.html">SendGrid API</a></li>
</ul>       

<ul class="footer-nav-column footer-nav-suport">            
  <li class="footer-nav-heading">Support</li>            
  <li class="footer-nav-link"><a href="/faq">FAQ</a></li>            
  <li class="footer-nav-link"><a href="/tag/support">Help center</a></li>            
  <li class="footer-nav-link"><a href="/sign-up">Getting Started</a></li>            
  <li class="footer-nav-link"><a href="/tag/support">New Clients</a></li>
  <li class="footer-nav-link"><a href="https://twitter.com/intent/tweet?text=%40_Closely+Hi%21+Can+you+help+me+with+&related=_Closely" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">Tweet at us</a></li>
</ul>

</nav>    

<div class="logo-grid">        
  <div class="poweredby logo-grid-item">
    <a style="font-size: 2em" href="/">follow <i class="fa fa-map-marker"></i> closely</a>
  </div>
</div>

</footer>
