<div class="device-container">
  <section class="phone screenshot-caspermobile">
    <header>
      <span class="phone-camera"><span class="hidden">Camera</span></span>
      <span class="phone-earpiece"><span class="hidden">Earpiece</span></span>
      <span class="phone-homebutton"><span class="hidden">Homebutton</span></span>
    </header>
    <section class="content phone-dark">
        <img alt="Follow Closely Mobile Phone: Black" src="{{asset "images/fb-phone2.jpg"}}">
    </section>
  </section>{{! .phone .screenshot-caspermobile}}

  <section class="browser screenshot-casperdesktop">
    <header>
      <span class="button1"><span class="hidden">Button1</span></span>
      <span class="button2"><span class="hidden">Button2</span></span>
      <span class="button3"><span class="hidden">Button3</span></span>
      <span class="fullscreen"><span class="hidden">Full Screen</span></span>
    </header>
    <section class="content">
      <img alt="FollowClosely Mobile Continued" src="{{asset "images/850x543number2.jpg"}}">
    </section>
  </section>{{! .browser .screenshot-casperdesktop}}
</div>{{! .device-container}}