<div class="logo">
  <a href="#product" class="smoothScroll">
    <span class="quote">landing pages</span>
    <img alt="S logo" src="https://googledrive.com/host/0BzwOBEBWIA-qSmtVZE5QY1NJTFk">
  </a>
</div>
<div class="logo">
  <a href="#product" class="smoothScroll">
    <span class="quote">content marketing</span>
    <img alt="PL logo" src="https://googledrive.com/host/0BzwOBEBWIA-qT3hsN05Td0U5MzQ"/>
  </a>
</div>
<div class="logo">
  <a href="#product" class="smoothScroll">
    <span class="quote">social listening</span>
    <img alt="SG logo" src="https://googledrive.com/host/0BzwOBEBWIA-qZWRqRjVDQU9TZWc"/>
  </a>
</div>
<div class="logo">
  <a href="#product"  class="smoothScroll">
    <span class="quote">audience growth</span>
    <img alt="EV logo" src="https://googledrive.com/host/0BzwOBEBWIA-qaTFZWUJ3NlBUQjg"/>
  </a>
</div>
<div class="logo">
  <a href="#product" class="smoothScroll">
    <span class="quote">pipeline automation</span>
    <img alt="KW logo" src="https://googledrive.com/host/0BzwOBEBWIA-qMVNpNXhuTTZoVGs"/>
  </a>
</div>