<div class="modal fade" id="modal-demo" tabindex="-1" role="dialog" aria-labelledby="Email subscription modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <header class="modal-header">
                    <h4 class="modal-title"> Marketing that doesn&rsquo;t suck.</h4>
                    <a class="modal-close" data-dismiss="modal" aria-hidden="true" href="#"><span class="hidden">Close</span></a>
                </header>
                <div class="modal-body">
                    <form action="http://post.followclosely.com/t/i/s/krkyju/" id="subForm" method="post">
                        <input id="fieldEmail" name="cm-krkyju-krkyju" type="email" placeholder="Your email address" required />
                        <button class="button-add button-pink wide" type="submit">Get the demo</button>
                        <p>No spam. No jibber jabber. Unsubscribe any time.</p>
                    </form>
                </div>
            </div>
        </div>
    </div>