<section id="p-control" class="pricing-table">

  <div class="source-plan-wrapper">
    <div class="version-pill blue"><span>Free</span></div>

    <article class="plan plan-free">
      <header class="plan-header light-blue-bg">
        <span class="uppercase plan-name">Library Card</span>
        <h3><sup>$</sup>0</h3>
        <span class="plan-per-month">for ever &amp; ever</span>
      </header>
      <div class="features">
        <ul class="pricing-ul">
          <li>Follow along with our blog for <a class="pricing-link" href="https://followclosely.com/blog">free tutorials</a>.</li>
          <li>Tweet <a class="pricing-link" href="https://twitter.com/_Closely">@_Closely</a> to get community support.</li>
        </ul>
      </div>
    </article>

  </div>{{! .source-plan-wrapper}}

<div class="paid-plans-wrapper">
  <div class="plan-logo pro">
    <span class="icon"></span>
    <span class="word">Ghost</span>
    <span class="logotype"></span>
    <div class="version-pill deepblue"><span class="paidlogo">Pro</span></div>
  </div>


<div class="paid-plans top">
  <article class="plan">
    <header class="plan-header wash-blue-bg">
      <span class="uppercase plan-name">Essentials</span>
      <h3><sup>$</sup>250</h3>
      <span class="plan-per-month">per month</span>
      <div class="plan-explain">
        <span class="text">Billed annually, or $250 month-to-month</span>
      </div>
    </header>

    <div class="features">
      <ul class="pricing-ul">
        <li class="plan-views">
          <strong>20 campaigns/month</strong>
          <div class="plan-explain">
            <span class="text">A campaign consists of any direct social media or email activity that we take on your behalf</span>
        </div>
        </li>
        <li class="plan-views">3 Social Media sites
          <div class="plan-explain">
            <span class="text">Your choice of 3 social media sites for us to manage, including: Facebook, Twitter, LinkedIn, Pinterest, Periscope, Google Plus, Yelp &amp; More</span>
          </div>
        </li>
        <li>Unlimited Support</li>
        </li>
        <li>Custom 3-page website</li>
        <li>Social Posts + Commenting</li>
      </ul>

      <p><strong>In Development &amp; Coming Soon</strong></p><ul class="pricing-ul"><li>3rd party apps</li><li>Post analytics</li><li>Developer tools</li>
    </ul>
    </div>
  </article>

  <article class="plan big">
    <header class="plan-header deep-blue-bg">
    <span class="uppercase plan-name">Advanced</span>
    <h3><sup>$</sup>500</h3>
    <span class="plan-per-month">per month</span>
    <div class="plan-explain">
    <span class="text">Billed annually, or $500 month-to-month</span>
    </div>
    </header>

    <div class="features">
      <ul class="pricing-ul">
        <li class="plan-views">
          <strong>50 campaigns/month</strong>
          <div class="plan-explain"><span class="text">A campaign consists of any direct social media or email activity that we take on your behalf</span></div>
        </li>
        <li class="plan-views">4 Social Media sites
          <div class="plan-explain">
            <span class="text">Your choice of 4 social media sites for us to manage, including: Facebook, Twitter, LinkedIn, Pinterest, Periscope, Google Plus, Yelp &amp; More</span>
          </div>
        </li>
        <li>Priority Support</li>
        <li>Custom 5-page website</li>
        <li>Social Posts + Commenting</li>
        <li>Monitor &amp; Respond</li>
        <li>$50 Built-In Advertising</li>
      </ul>

      <p><strong>In Development &amp; Coming Soon</strong></p>
      <ul class="pricing-ul">
        <li>3rd party apps</li>
        <li>Post analytics</li>
        <li>Developer tools</li>
        <li>Turbo performance</li>
      </ul>
    </div>{{! end .features}}
  </article>{{! end .plan .big}}


  <article class="plan">
    <header class="plan-header wash-blue-bg">
      <span class="uppercase plan-name">Premium</span>
      <h3><sup>$</sup>1,000</h3>
      <span class="plan-per-month">per month</span>
      <div class="plan-explain">
      <span class="text">Billed annually, or $1,000 month-to-month</span>
      </div>
    </header>

    <div class="features">
      <ul class="pricing-ul">
        <li class="plan-views">
          <strong>120 campaigns/month</strong>
          <div class="plan-explain">
            <span class="text">A campaign consists of any direct social media or email activity that we take on your behalf</span>
          </div>
        </li>

        <li class="plan-views">5 Social Media sites
          <div class="plan-explain">
            <span class="text">Your choice of 5 social media sites for us to manage, including: Facebook, Twitter, LinkedIn, Pinterest, Periscope, Google Plus, Yelp &amp; More</span>
          </div>
        </li>
        <li>Dedicated Account Manager</li>
        <li>Custom 7-page website</li>
        <li>Social Posts + Commenting</li>
        <li>Monitor &amp; Respond</li>
        <li>Proactive Social Listening</li>
        <li>$100 Built-In Advertising</li>
      </ul>

      <p><b>In Development &amp; Coming Soon</b></p>
      <ul class="pricing-ul">
        <li>3rd party apps</li>
        <li>Post analytics</li>
        <li>Developer tools</li>
        <li>Turbo performance</li>
      </ul>
    </div>{{! .features}}
  </article>{{! .plan}}
</div>{{! .paid-plans .top}}

<div class="plan-in-dev">
  <div class="a-la-carte">
  <p class="carte-blanchify">Available by request</p></div></div>
  <div class="paid-plans bottom">
  <article class="plan">
    <ul class="pricing-ul">
      <li>3rd party apps</li>
      <li>Post analytics</li>
      <li>Developer tools</li>
    </ul>
    </article>
    <article class="plan big">
      <ul class="pricing-ul">
      <li>3rd party apps</li>
      <li>Post analytics</li>
      <li>Developer tools</li>
      <li>Turbo performance</li>
    </ul>
    </article>
    <article class="plan">
      <ul class="pricing-ul">
        <li>3rd party apps</li>
        <li>Post analytics</li>
        <li>Developer tools</li>
        <li>Turbo performance</li>
        <li>Pay-Per-Click Ads</li>
      </ul>
    </article>
  </div>{{! .paid-plans .bottom}}
</div>{{! .plan-in-dev}}

</section>{{! #p-control .pricing-table}}
