<aside class="tag-sidebar blog-sidebar">

  <section class="popular-docs blog-text blog-text-dev widget">
      <h3>UPVOTED ARTICLES</h3>
      <ul>
          <li><a href="">Onboarding Checklist <i class="fa fa-check-circle fa-fw number"></i></li>
          <li><a href="">Start Receiving Customized Social Media Alerts</a></li>
          <li><a href="">“Inside FollowClosely”</li>
          <li><a href="">Website Documentation</a></li>
          <li style="padding-bottom:0"><a href=""><em>Guide:</em> How to Sync Your Email Contacts Automatically</a></li>
      </ul>
  </section>

  <section class="blog-text tagsidebar-text widget">
    <h5>CUSTOMER PORTAL</h5>

    <ul>
    <p><strong>Getting Started</strong></p>
        <li><p><a href="https://followclosely.com/welcome/">Introduction &amp; Welcome</a></p></li>
    
        <li><p><a href="https://followclosely.com/about/">FollowClosely Emails</a></p></li>
    </ul>
    <ul>
      <p><strong>Questions?</strong></p>
        <li><p><a href="https://followclosely.com/help/">Submit a Support Ticket</a></p></li>
        <li><p><a href="https://followclosely.com/ask/">Ask Us a Question Directly</a></p></li>
    </ul>
    <ul>
      <p><strong>Quickstart Guides</strong></p>
        <li><p><a href="https://followclosely.com/help/">Onboarding: <em>The Hard Way</em></a></p></li>
        <li><p><a href="https://followclosely.com/help/">Consolidate Your Database</a></p></li>
    </ul>
  </section>

  <section>
    <div class="sidebar-divider">
    </div>
  </section>

{{!--   <section>
    <a class="ghost-love widget" href="https://followclosely.com/sign-up">
      <h3><em>Still stuck?</em> <span class="highlight"><br><br>Let&rsquo;s Talk</span></h3><br>
      <h4>We'll make sure you never waste time doing this stuff again</h4>
      <div class="ghost-love-button">Sign Up Now</div>
    </a>
  </section> --}}
</aside>