<aside class="blog-sidebar">

<section class="twitter-box twitter-box-main widget">
        <a class="twitter-box-profilepic" href="http://twitter.com/_Closely"><img src="{{asset "images/fc_at_bolt_60x60.png"}}" alt="Twitter profile picture" /></a>
        <img class="twitter-box-coverpic" src="{{asset "images/600x315.jpg"}}" alt="Twitter cover image" nopin="nopin" />
        <div class="twitter-box-content">
            <h4>FollowClosely</h4>
            <p>Sales collateral and product updates posted on Twitter.</p>
            <a href="https://twitter.com/_Closely" class="twitter-follow-button" data-show-count="true">Follow @_Closely</a>
        </div>
    </section>
    

    <section class="popular-posts widget">
        <h3>Our <mark>Top Posts</mark> Right Now</h3>
        <ol>
            <li><a href="https://followclosely.com/2016-marketing-checklist/"><span class="number" aria-hidden="true">1</span>Is Your Marketing Strategy Ready For 2016?</a></li>
            <li><a href="https://followclosely.com/inside-followclosely/"><span class="number" aria-hidden="true">2</span>Inside: FollowClosely</a></li>
            <li><a href="https://followclosely.com/support-onboarding/"><span class="number" aria-hidden="true">3</span>Before Your Onboarding Call</a></li>
            <li><a href="https://followclosely.com/coding-for-closers/"><span class="number" aria-hidden="true">4</span>Sales Lessons from My Life as a Nerd</a></li>
            <li><a href="https://followclosely.com/2016-smb-essentials/"><span class="number" aria-hidden="true">5</span>Essentials for SMBs in 2016</a></li>
        </ol>
    </section>

    <section class="blog-subscribe blog-subscribe-main widget">
        <h3>Join Thousands</h3>
        <p>of subscribers who get fresh content from us once per week.</p>
        
        <a class="button-add button-pink large wide" data-toggle="modal" data-target="#modal-subscribe">Subscribe Now</a>

        {{>modal-subscribe}}
    </section>

    

</aside>
