<aside class="blog-sidebar signup-sidebar">

    <section class="twitter-box twitter-box-main widget">
    <a class="twitter-box-profilepic" href="http://twitter.com/_Closely"><img src="{{asset "images/fc_at_bolt_60x60.png"}}" alt="Twitter profile picture" /></a>
    <img class="twitter-box-coverpic" src="{{asset "images/600x315.jpg"}}" alt="FollowClosely Twitter logo" nopin="nopin" />
    <div class="twitter-box-content">
        <h4>Live Feed on Twitter</h4>
        <p>Follow <span class="fc-twitter-span"><a href="https://twitter.com/_Closely" class="twitter-follow-button" data-show-count="true">@_Closely</a></span> for product updates,<br>project roadmaps &amp; daily sales tips.</p>
    </div>
    </section>

    <section class="blog-text blog-text-dev widget">
        <h2>Got questions?</h2>
        <hr class="signup-hr-top">

        <ul>
            <li class="signup-li-contact"><strong>Call Sales</strong></li>
            <li style="font-size:1.6rem; margin-left:15px; font-family:domine">Monday &ndash; Friday<br>8:00am to 6:00pm <span style="color:#a9a9a9">(CST)</span></li>
            <li class="signup-contact-link"><a href="tel:+15126926155"><strong>
            (512) 692-6155</strong></a></li>
        </ul>
        <hr style="border-top: 2px dashed #cee3ec; margin-top:1.5em">

        <ul class="signup-bottom-ul">
            <li class="signup-li-contact"><strong>Email Us</strong></li>
            <li style="font-size:1.6rem; margin-left:15px; font-family:domine">We typically respond within a few hours.</li>
            <li class="signup-contact-link"><a href="mailto:hi@followclosely.com"><strong>hi@followclosely.com</strong></a></li>
        </ul>
        <hr style="border-top: 2px dashed #cee3ec; margin-top:1.5em">

        <ul>
            <li class="signup-li-contact"><strong>Current Customers
</strong></li>
            <li style="font-size:1.6rem; margin-left:15px; font-family:domine">If you are an existing customer, please visit our <a href="/tag/support">support</a> page for step-by-step instructions.</li>
            <li class="signup-contact-link"><a href="/tag/support"><strong>Support Helpdesk &raquo;</strong></a></li>
        </ul>

    </section>



</aside>
