
<section class="faq" id="faq">
  <article>
    <h3>Do you offer a free trial so I can see if I like it first?</h3>
    <p>Nope! Our blog is always free and you're more than welcome to join our newsletter and get caught up on your marketing the old school way.</p>
  </article>
  <article>
    <h3>What&rsquo;s a &ldquo;Campaign&rdquo;, exactly?</h3>
    <p>Good question. A campaign consists of any direct activity that FollowClosely takes on your behalf, most often via email or on social media. This looks different for everybody, so if you&rsquo;d like to see what campaigns you could be sending out, <a href="https://followclosely.com/demo">take a look at the demo</a>!</p>
  </article>
  <article>
    <h3>Can you build me a custom website?</h3>
    <p>Typically we reserve our development services for customers who have purchased one of the packages above. On occasion we have made exceptions depending on the project's scale, so please ask us if you have questions about a more extensive project.</p>
  </article>
  <article>
    <h3>How does the contract work?</h3>
    <p>Strictly speaking, we never lock in customers by requiring that they sign a contract and commit to a term. However we do ask clients to commit 6 months to us, so that we can commit 6 months to you. Without that show of good faith, we are less inclined to invest the initial time it would take to fully onboard and streamline your account.</p>
  </article>
  <article>
    <h3>Can I use my own domain name?</h3>
    <p>You sure can. In fact you can use a couple of them. Everything that FollowClosely does is built for you end-to-end, and we do all of it in-house. That means you can be as involved as you like, or as hands-off as you need.</p>
  </article>
  <article>
    <h3>What payment methods do you accept?</h3>
    <p>We accept all Visa, American Express and Mastercard credit and debit cards. Currently we do not accept Paypal, traditional invoicing, or personal checks.</p>
  </article>
  <article>
    <h3>I have more questions!</h3>
    <p>Our support team is on hand and ready to help, and we usualy reply pretty quick. <a href="mailto:hi@followclosely.com">Click here to email us</a>.</p>
  </article>
</section>{{! .faq}}